.TopRated {
  width: 50%;
  margin: auto;
  .TopRated-header {
  }
}
.loading {
  margin: 2em auto;
  width: fit-content;
  display: flex;
  justify-items: center;
  align-items: center;
  h1 {
    margin: 0 1em;
  }
}
.TopRated_li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid orange;
  padding: 1em;
  .TopRated-Left {
    h2 {
      font-size: 30px;
    }
    h6 {
      font-size: 20px;
    }
  }
}
