@use "../../Styles/colors";
h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  padding-top: 0.3em;
  margin-right: 2em;
  span {
    padding: 0.1em;
    margin: 0 0.1em;
    border-radius: 5px;
    color: #000;
    background-color: colors.$orange;
  }
}
h1:hover {
  cursor: pointer;
}
