@use "../../Styles/colors";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slider {
  overflow: hidden;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.slider-buttons__wrapper {
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  height: 30px;
  width: fit-content;
  display: flex;
  margin: 1em auto 0;
  align-items: center;
  justify-content: center;
}
.slider-buttons-wrapper__button {
  height: 100%;
  width: 100%;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  transition: 0.2s;
  border: 1px solid transparent;
  background: transparent;
  color: #000;
}
.slider-buttons-wrapper__button:hover {
  background: colors.$orange;
  color: #000;
}
